body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: radial-gradient(burlywood, thistle);
}

h1 {
  font-style: italic;
  font-size: 60px;
  margin: 50px 100px;
  border: 2px dotted rgb(0, 0, 0);
  padding: 4px;
  box-sizing: border-box;
  background-color:lightcoral
}

h2 {
  font-size: 40px;
  text-shadow: 2px 2px #000000;
  color: rgb(86, 192, 187)
}

p {
  margin: 20px 100px;
}

.highlight {
  color:darkred;
  text-decoration: underline;
}

ul {
  color: black;
  list-style-position: inside;
}

ol {
  color: black;
  list-style-position:inside;
}

.subheading {
  font-size: 12px;
  font-style: italic;
}

.subheading-image {
  width: 740px;
  height: 640px;
  margin: 50px auto;
  padding: 50px;
  background-color: lightgreen;
  border:  2px dotted rgb(0, 0, 0);
  box-sizing: border-box;
}

.pyramid1 {
  color: #000000;
  float: right;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top:  500px solid transparent;
  border-bottom: 500px solid transparent;
  border-right: 600px solid rgb(163, 139, 201); 
}

.pyramid2 {
  float: left;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top:  500px solid transparent;
  border-bottom: 500px solid transparent;
  border-left: 600px solid rgb(96, 122, 207); 
}

.pyramid3 {
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left:  500px solid transparent;
  border-right: 500px solid transparent;
  border-bottom: 600px solid rgb(86, 192, 187);  
}

.footer {
text-align: center;
font-style: italic;
font-size: 16px;
}
